<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.war{
text-align: center;
margin-top: 50px;
}
.war span{
margin-top: -20px;
}
.title {
    margin-top: 50px;
    text-align: center;
}
.shuj{
  margin-top: 50px;
    text-align: center;
}
.pst-let{
  margin-left: 316px;
  float: left;
  margin-top: 50px;
}
.pst-z{
  float: left;
  margin-left: 100px;
  margin-top: 80px;
}
.pst-rit{
  float: left;
  margin-left: 100px;
  margin-top: 50px;
}
#over{
	clear:both;
    text-align: center;
}
</style>
</head>
<body>
<div class="tone">
<a href="navigation">返回</a>
</div>
  <div class="war">
        <a class="igx" href="#"><img src="images/ig.jpg"  width=100px height=80px></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>VS</span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#"><img src="images/fpx.jpg" width=100px height=80px></a>
    </div>
    <div class="title">
        <a href="#">分析</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">图文</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">数据</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#">新闻</a>
    </div>
    <div class="shuj">
      <span>9</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>第一场</span>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>17</span>
    </div>
    <div class="pst">
      <div class="pst-let">
        <img src="images/ig1.png" width=40px height=90px>
        <img src="images/ig2.png" width=40px height=90px>
        <img src="images/ig3.png" width=40px height=90px>
        <img src="images/ig4.png" width=40px height=90px>
        <img src="images/ig5.png" width=40px height=90px>
      </div>
     <a onMouseMove='showhidediv("over")' href="#"><span class="pst-z">查看数据</span></a> 
      <div class="pst-rit">
          <img src="images/fpx1.png" width=40px height=90px>
          <img src="images/fpx2.png" width=40px height=90px>
          <img src="images/fpx3.png" width=40px height=90px>
          <img src="images/fpx4.png" width=40px height=90px>
          <img src="images/fpx5.png" width=40px height=90px>
        </div>
    </div>
    <div id="over" style="display: none;">
            <img src="images/sjiu.png">
            <br>
            <img src="images/fpx.jpg" width="150px" height="150px"><span style="font-size:30px ">FPX</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/G2.jpg" width="150px" height="150px"><span style="font-size:30px ">G2</span>
            <br>
            <br>
            <br>
            <img src="images/element/f.png">
            <img src="images/element/s.png">
            <img src="images/element/f.png">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="images/element/s.png">
            <img src="images/element/h.png">
        </div>
    <div class="pst">
        <div class="pst-let">
          <img src="images/ig1.png" width=40px height=90px>
          <img src="images/ig2.png" width=40px height=90px>
          <img src="images/ig3.png" width=40px height=90px>
          <img src="images/ig4.png" width=40px height=90px>
          <img src="images/ig5.png" width=40px height=90px>
        </div>
       <a href="#"><span class="pst-z">查看数据</span></a> 
        <div class="pst-rit">
            <img src="images/fpx1.png" width=40px height=90px>
            <img src="images/fpx2.png" width=40px height=90px>
            <img src="images/fpx3.png" width=40px height=90px>
            <img src="images/fpx4.png" width=40px height=90px>
            <img src="images/fpx5.png" width=40px height=90px>
          </div>
      </div>
      <div class="pst">
          <div class="pst-let">
            <img src="images/ig1.png" width=40px height=90px>
            <img src="images/ig2.png" width=40px height=90px>
            <img src="images/ig3.png" width=40px height=90px>
            <img src="images/ig4.png" width=40px height=90px>
            <img src="images/ig5.png" width=40px height=90px>
          </div>
         <a href="#"><span class="pst-z">查看数据</span></a> 
          <div class="pst-rit">
              <img src="images/fpx1.png" width=40px height=90px>
              <img src="images/fpx2.png" width=40px height=90px>
              <img src="images/fpx3.png" width=40px height=90px>
              <img src="images/fpx4.png" width=40px height=90px>
              <img src="images/fpx5.png" width=40px height=90px>
            </div>
        </div>
 <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript"> 
        //鼠标放上去显示隐藏内容 	
        function showhidediv(over){
            var sbtitle=document.getElementById(over);
            if(sbtitle){
               if(sbtitle.style.display=='block'){
               sbtitle.style.display='none'; 
               }else{
               sbtitle.style.display='block';
               }
            }
            }
        </script>
</body>
</html>